.card{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: rgb(114, 81, 184);
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
    margin: 0;
  }
  .card:hover{
    transform: translateY(-1rem);
  }

  .card-header p {
      font-size: 14px;
      margin: 0 0 1rem;
      color: rgba(47, 48, 55, 1);
  }
  .card-header h2 {
      font-size: 20px;
      margin: .25rem 0 auto;
      text-decoration: none;
      color: rgba(220, 223, 233, 1);
      border: 0;
      display: inline-block;
      cursor: pointer;
  }
  .tags {
      margin: 1rem 0 2rem;
      padding: .5rem 0 1rem;
      line-height: 2;
      margin-bottom: 0;
  }
  .tags a {
      font-style: normal;
      font-weight: 700;
      font-size: .5rem;
      color: rgba(220, 223, 233, 1);
      text-transform: uppercase;
      font-size: .66rem;
      border: 3px solid #28242f;
      border-radius: 2rem;
      padding: .2rem .85rem .25rem;
      position: relative;
  }
  .tags a:hover {
      background: rgb(83, 102, 170);
      text-shadow: none;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-box-decoration-break: clone;
      background-clip: text;
      border-color: white;
  }
  .card-author{
    color: rgba(47, 48, 55, 1);
    font-weight: 700;
  }
  .card-author a{
    text-decoration: none;
    font-weight: 500;
    color: rgba(47, 48, 55, 1);
  }
  .card-author a:hover{
    color: white;
  }

  .Loading{
    font-size: 25px;
    font-weight: 500;
  }
  @media only screen and (max-width: 768px) {
  .card-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto !important;
    overflow: scroll;
  }
  .card{
    position: relative;
    width: 200px;
  }
  .card:not(:first-child){
    margin-top: 50px;
    margin-left: 0px;
  }
  .card-header h2{
    font-size: 16px;
  }
    
  }